{% set NIGHTLY_REPO = "latest-RHEL-9.5.0" %}
{% set distro_name = "RHEL-9.5.0" %}
{% set buildroot_url = "http://download.eng.rdu2.redhat.com/rhel-9/rel-eng/BUILDROOT-9/latest-BUILDROOT-9.5.0-RHEL-9/compose/Buildroot/" + ARCH + "/os/" %}
{% import "trees/rhel9-zstream.j2" as zstream with context %}
{% set distro_requires = zstream.distro_requires %}
{% set ks_append = zstream.ks_append %}
{% set host_requires = zstream.host_requires %}
{% set kernel_options_post = zstream.kernel_options_post %}
{% set repos = zstream.repos %}
