{# https://gitlab.com/redhat/centos-stream/tests/kernel/kpet-db/-/issues/170 #}
{% if ARCH == "x86_64" and
      not TREE.startswith("rhel8") and
      not TREE.startswith("rhel7") and
      not TREE.startswith("rhel6") %}
  <not>
    {% include "host_types/hpsa.host_requires.xml.j2" %}
  </not>
{% endif %}
{% if ARCH == "aarch64" %}
  <not>
    <or>
      {# RITM1812597 - don't run kdump tests on these not certified machines #}
      <hostname op="like" value="qualcomm-amberwing%"/>
    </or>
  </not>
{% endif %}
